.search-btn {
    max-width: 19em;
    cursor: pointer;
    border: 0.01em solid $black;
    padding: 0.5em;
    background: $bg-DScndColor;
    display: flex;
    justify-content: space-between;
    border-radius: 0.1em;
    font-size: 0.8em;
    align-items: center;
    margin: 1em auto;
    transition: background, border, 1s;
    &:hover {
        background: $bg-DColor;
        border: 0.01em solid $scnd-DColor;
    }
    &__shortcut {
        background: $bg-DColor;
        padding: 0.5em;
        border-radius: 0.1em;   
    }
}