
// Nav main:
.main__nav {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 15vw;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgba($bg-DThirdColor, 0.55);
    // background: rgb(17 17 17); /* Dark mode - modo lectura */
    margin-top: 7em;
    z-index: 100;
    ol {
        li {
            list-style: none;
        }
    }
} 

/////////////////////////////////////////////////////////

// Top-Nav
.top-nav {
    position: fixed;
    z-index: 120;
    width: 15vw;
    color: $scnd-DColor;
    top: 0;
    padding: 2.2em 0 4em;
    background: linear-gradient(to bottom, $bg-DThirdColor 63%, rgba($bg-DThirdColor, 0) 90%);
}

// Socials:
.socials {
    display: flex;
    justify-content: center;
    gap: 0.75em;
    img {
        width: 1.4em;
        margin-top: 0.06em;
    }
    svg {
        font-size: 1.7em;
        color: $scnd-DColor;
        transition: color 1s;
        &:hover {
            color: $main-DColor;
        }
    }
}

/////////////////////////////////////////////////////////


// List Sections:

.menu__container {
    margin-top: 5em;
}
.container__list {
    background-color: transparent;
    min-width: 14vw;
    .list__header {
        position: relative;
        background: linear-gradient(to right, $bg-DScndColor, rgba($bg-DScndColor, 0));
        color: $main-DColor; 
        text-transform: uppercase;
        padding: 0.5em 0.75em;
        font-weight: 600;
        width: 15vw;
        font-size: 0.8em;
        @include fhd {
            padding: 0 0 0 0.75em;
        }
    }
}

// List Topics:
.topic__name {
    color: $scnd-DColor;
    
}

.topic__content {
    display: flex;
    padding-right: 1em;
    span {
        font-size: 0.8em;
    }
}
.topic {
    &:last-child {
        border-bottom: none;
    }
}
.topic__urls {
    display: flex;
    align-items: center;
    gap: 0.4em;
    padding-top: 0.4em;
    a {
        color: $scnd-DColor;
        &:hover{
            color: $main-DColor;
        }
    }
}
.topic__redirect {
    color: $scnd-DColor;
    span {
        font-size: 0.8em;
    }
    &:hover{
      color: $main-DColor;
    }
}