
// Nav main:
.main__nav {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 15vw;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgb(13 20 35 / 37%);
    margin-top: 6em;
    ol {
        li {
            list-style: none;
        }
    }
} 

/////////////////////////////////////////////////////////

// Top-Nav
.top-nav {
    position: fixed;
    z-index: 120;
    width: 18em;
    color: $main-DColor;
    top: 0;
    padding: 2.2em 0 4em;
    background: linear-gradient(to bottom, #111627 63%, rgb(15 22 37 / 22%) 90%);
}

// Socials:
.socials {
    display: flex;
    justify-content: center;
    gap: 1em;
    img {
        width: 1.4em;
        margin-top: 0.06em;
    }
    svg {
        font-size: 1.7em;
        color: $main-DColor;
        transition: color 1s;
        &:hover {
            color: $hover-DColor;
        }
    }
}



/////////////////////////////////////////////////////////


// List Sections:

.menu__container {
    margin-top: 5em;
}
.container__list {
    background-color: transparent;
    min-width: 14vw;
    .list__header {
        position: relative;
        background: linear-gradient(to right, #1b2c4599, rgba(255, 255, 255, 0));
        color: $hover-DColor; 
        text-transform: uppercase;
        padding: 0.5em 0.75em;
        font-weight: 600;
        width: 15vw;
        font-size: 0.8em;
        @include fhd {
            padding: 0 0 0 0.75em;
        }
    }
}

// List Topics:
.topic__name {
    color: $scnd-DColor;
    
}

.topic__content {
    display: flex;
    padding-right: 1em;
    span {
        font-size: 0.8em;
    }
}
.topic {
    /* border-bottom: 0.01em solid $bg-DColor; */
    &:last-child {
        border-bottom: none;
    }
}
.topic__urls {
    display: flex;
    align-items: center;
    gap: 0.4em;
    padding-top: 0.4em;
    a {
        color: $scnd-DColor;
        &:hover{
            color: $hover-DColor;
        }
    }
}
.topic__redirect {
    color: $main-DColor;
    span {
        font-size: 0.8em;
    }
    &:hover{
      color: $hover-DColor;
    }
}


