/* **** CONFIGS | CUSTOM PROPERTY **** */

/* Portfolio gama azulada */
$main-DColor: #e2e8ef;
$scnd-DColor: #94a3b8;
$hover-DColor: #9ed6ff;
$small-DColor: #59616c;

$bg-DColor: #131829;
$bg-DScndColor: #172338;
$bg-DThirdColor: #111626;
$dg-DColor: #2c61afa8;

/* Dark mode - modo lectura */
// $main-DColor: #d3b353;
// $scnd-DColor: #9f9f9f;
// $hover-DColor: #d3b353;
// $small-DColor: #606162;

// $bg-DColor: #202020;
// $bg-DScndColor: #1b1b1b;
// $bg-DThirdColor: #111111;
// $dg-DColor: #2c61afa8;


/* Tipografias */
$main-typo: 'Blinker'; 
$scnd-typo:  Calibri, 'Trebuchet MS', sans-serif;

/* --- SCROLLBAR PRO CSS - HABILITADA ---*/ 
::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(rgba(174, 246, 253, 0), rgb(29 43 67));
    border-radius: 0 0 10px 10px;
}

/* --- TEXTO SELECCIONADO ---*/
::selection {
    background-color: $bg-DColor;
    color: $main-DColor;
} 


