/* **** CONFIGS | CUSTOM PROPERTY **** */

/* Dark Mode - Colors */
$main-DColor: #e2e8ef;
$scnd-DColor: #94a3b8;
$hover-DColor: #9ed6ff;

$bg-DColor: #131829;
$bg-DScndColor: #172338;
$bg-DThirdColor: #111626;
$dg-DColor: #2c61afa8;

$black: #000000;

/* Tipografias */
$main-typo: 'Blinker'; 
$scnd-typo:  Calibri, 'Trebuchet MS', sans-serif;

/* --- SCROLLBAR PRO CSS - HABILITADA ---*/ 
::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(rgba(174, 246, 253, 0), rgb(29 43 67));
    border-radius: 0 0 10px 10px;
}

/* --- TEXTO SELECCIONADO ---*/
::selection {
    background-color: $bg-DColor;
    color: $main-DColor;
} 


