.goTop {
    width: 3em;
    height: 3em;
    border-radius: 100%;
    border: 0.1em solid $main-DColor;
    position: absolute;
    z-index: 100;
    right: 3em;
    bottom: 3em;
    cursor: pointer;
    position: fixed;
    display: grid;
    place-content: center;
    transition: all 1s;
    &:hover {
        background-color: #11192e;
        border: 0.1em solid $hover-DColor;
        color: $hover-DColor;
    }
    svg {
        position: relative;
        top: -0.075em;
        font-size: 1.25em;
    }
}