.topic__container {
    padding-top: 2em;
    .topic__title {
        background: linear-gradient(to right, rgb(7 19 32 / 55%), rgba(255, 255, 255, 0));
        display: flex;
        justify-content: space-between;
        padding: 0 1em;
        margin-bottom: 1.25em;
        h2 {
            font-weight: 600;
            font-size: 1.2em;
            padding-left: 1em;
            border-left: 0.2em solid $title-DColor;
            margin: 1em 0;
            color: $title-DColor;
        }
        .topic__urls {
            display: flex;
            gap: 1em;
            align-items: center;
            a {
                color: $scnd-DColor;
                &:visited {
                    color: $scnd-DColor;
                }
                &:hover {
                    color: $title-DColor;
                }
                svg {
                    font-size: 1.5em;
                }
            }
        }
    }
    p {
        margin: 1em 0;
        line-height: 1.7em;
    }
}